header{
    width:100%;
    height:30%;
}
.bg_container{
    background-color: #A1A7B5;
    position:relative;
}

header h1{
    text-align: center;
    font-size: 30px;
}

header h2{
    text-align: center;
}

nav ul{
    list-style: none;

}

nav ul li{
    float:left;
    margin-left: 15%;

}

nav ul li a{
    background-color: #A1A7B5;
    color:white;
    text-decoration: none;
    font-size: 20px;
}
#Campus_exp{
    text-align: left;
    margin-top:20px;
}

p{
    text-indent: 50px;
}
h4{
    display:inline;
    margin:50px;
}

#person{
    height:300px;
}
#person h4{
    margin:120px;
}
#img{   /*证件照*/
    float:right;
    margin-right:200px;
    margin-top:-40px;
    width:130px;
    height:200px;
    background-image: url("https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1524658191&di=f01e59216cb83950c0c40856cf32229b&src=http://p3.gexing.com/shaitu/20120905/1726/50471ab66f360.jpg");
    background-repeat: no-repeat;
    background-size: 130px,200px;
    position:relative;

}
<<<<<<< HEAD
#introduce{
 margin-top: 30px;
=======
#introduce h3{
    margin-top:30px;

}
