html{
    height:100%;

}

body{
    height:100%;
}

section{
    margin:0 0 0 0;
}
#sidebox{
    width:100%;
    background-color: #888888;
    color: white;
    height:13%;
}
h1{
    padding-top:20px;
    margin-left:3%;
}

table{
   padding:0 0 0 0;
    width:100%;
    border-top:solid #e1e1e1 2px;

}

table body{

}
table tr{
    display:inline;

}
table tr th{
    float:left;
    background-color: #e1e1e1;
    height:151.08px;
    width: 10%;
}

table tr td{
    display: inline-block;
    margin-left:3%;

}
#projectexp,#ability,#eduexp table tr td h4{
    display:block;
}
